/* utilidades */
*, *:before, *:after{
	 -moz-box-sizing: border-box; 
     -webkit-box-sizing: border-box; 
	 box-sizing: border-box; 
}


/* Fim utilidades*/
body{
	font:62.5%/1.4 sans-serif;
	font-family: "Arial", Georgia, Serif;
}
.tudo{
    width: 100%;
	max-width: 1080px;
	margin: 0 auto;
}


/*menu superior*/
.menu-superior{
	margin: -1em;
	padding: 0em 3em 5em 3em;
	background:#6f6f6f;
	background-size: 100%;
	
}
.menu-superior-item{
	width: 108em;
	margin: 0 auto;
}
.menu-superior-item ul {
	float: right;	
	width: 108em;
}
.menu-superior-item ul li{
	display: inline;
	
	list-style-type: none;
	color:#fff;
	line-height: 1em;
	margin: 2em;	
}
.icon-usuario-menu{
	padding: 0 2em;
	
    
}
.icon-usuario-menu a{
	text-decoration: none;
	color:#fff;
}

.icon-carrinho-menu{
	padding: 0 2em;
}
.icon-carrinho-menu a{
	text-decoration: none;
	color:#fff;
}

/* cabecalho */
.caixa-busca {
	margin: 1em 0;
	
}
.caixa-busca ul{
	margin: 0 auto;
	width: 1080px;
}
.caixa-busca ul li{
	display: inline-block;
}
.busca{
	margin: 0 7em;
}
.busca form input[type="text"]{
	border:1px solid #7e7e7e;
	color:#555753;
	width: 30em;
	margin: 2em 3em;
	padding: 1em;
}
.busca form input[type="submit"]{
    border:none;
	color:#fff;
	background: #007ab3;
	padding: 1em;
}
.carrinho{
	display: inline-block;

}
.carrinho p{
	font-size: 100%;
	color: #8e8e8e;
}
.imagem-lupa{
	margin: 2em 1em 0em -4em;
}
#preco{
	color:#007ab3;
}

/*menu */
nav {
	background:#007ab3;
	padding:1em;
	
}
nav ul{
	width: 1080px;
	margin: 0 auto;
}
nav ul li{
	display: inline;
	margin: 0 0 0 1em;
	color: #fff;
	font-size:120%;
}
nav ul li a{
	color:#fff;
	text-decoration: none;
	margin: 0 1em;
	font-size: 100%;
}
#todas-categorias{
	background: #01608c;
	padding: 2em 1em 1.5em 1em;
}
/* Carrinho  de compras*/
.carrinho-compras {
	display: block;
	margin: 3em auto ;
	width: 1080px;
	
}
.carrinho-compras p{
	font-size: 120%;

}
.compras {
	margin: 0 auto;
	display: block;
	width: 1080px;
}

#continuar-comprando{
	border:none;
	padding: 1em;
	background: #c8c8c8;
	border-radius:0.5em;
	color:#e9e9e9;
	float:left;

}
#finalizar-compra{
	width: 270px;
	border:none;
	padding: 1em;
	background: #00a752;
	border-radius:0.5em;
	color:#e9e9e9;
	float:right;
}

.produtos {
	width: 1080px;
    margin:10em auto 0 auto;
}
.produtos table{
	border-collapse: collapse;
	border-spacing: 0;
    width: 100%;	
	
}
.produtos table thead tr th{
	background: #01628f;
	color:#fff;
    padding: 1em;
	
	font-size: 100%;
	text-align: left;
	
}
.produtos table tbody tr td{
	color:#6e6e6e;
	font-size: 140%;
	padding:  0 .5em;
}
.tabela-produtos{
	
	display: inline-flex;
}
.tabela-produtos-descricao{
	color:#000;
	font-size: 110%;
	text-align: left;
	width: 30%;
}
#antigo-preco{
	text-align: center;
	text-decoration: line-through;
}
#promocao-preco{
	font-size: 180%;
	text-align: center;
	
}
#preco-total{
	font-size: 180%;
	margin-top: 2.2em;
}
#quantidade{
	width: 5em;
	border: 1px solid #e1e1e1;
	background: #f5f5f5;
	padding: 1em;
	margin-top: 0em;
}
#remover-produto{
	color: #f00;
	margin: auto;
}
hr{
	color:#e1e1e1;
}

/*informações compra*/
.informacao-compra{
	margin: 2em auto;
	display: block;
	width: 108em;
}
.informacao-compra table td { 
	border-top: 1px solid #e1e1e1;
	
	padding: 2em;
}
.informacao-compra table td:nth-last-child(odd){
	width: 30%;
	margin: 2em  !important;
	padding: 2em;
	border:none;
	text-align: center;
	font-size: 120%;
	background: #ebebeb;
}
.informacao-compra table td{color:#969595; font-size:100%;border: none;/*! padding: 2em; */}
.informacao-compra table td h2 span{color: #007ab3;}
#mensagem-atencao{
	font-size: 80%;
}

#botao-finalizar-compra{
	width: 100%;
	border:none;
	background: #00ab54;
	color:#fff;
	border-radius: 0.5em;
	padding: 1em;
}

.tabela-input input[type="text"]{
	width: 30em;
	border:1px solid #7b7b7b;
	padding: 0.5em;

	
}
.tabela-input input[type="submit"]{
	border:none;
	background: #007ab3;
	margin-left:2em;
	padding: 1em;
	color:#fff;
}
.imagem-lupa-tabela{
	margin-bottom: -1em;
	margin-left: -4em;
}
.frete{
}
.frete ul{
	display: inline-flex;
	margin: 8em -4em 0 -4em;
}
.frete ul li{
	list-style: none;
	margin:  -5em 0.5em;
}
.frete ul li input[type="radio"]{
	margin: 2em 0;
}
#frete-para{
	width: 25%;
}

#descobrir-cep {
	font-size: 100%;
	float: right;
	margin:  -3em  5em 0 2em;
}

/* icons rodape*/
.icons-rodape {
	margin: 10em auto 0 auto;
	width: 108em;
	display: flex;
}
.forma-pagamento h2, .seguranca h2{
	color:#6a6a6a;
}

.forma-pagamento{
	width: 50em;
	margin: 0 auto;
}                                                
.forma-pagamento ul {
	margin-left: -4em;
}
.forma-pagamento ul li{
	list-style: none;
	display:inline;
	padding-right: 2em;
}
.seguranca {
	width: 50em;
	margin: 0 auto;
	
}
.seguranca ul {
    margin-left: -4em;	
}
.seguranca ul li{
	list-style: none;
	display: inline;
	padding-right: 7em;
}
/* footer */
.menu-footer{
	
background: #ededed;
}
footer table{
	width: 108em;
	margin: 0 auto;
	padding: 1em;
}
footer table thead th{
	font-size: 150%;
	color: #544f4d;
	text-align: left;
	
}



.footer-header{
	display: flex;
	margin: 1em 0;
}
.footer-header img{
	margin-right:  1em;
	margin-top: 1em;
	max-height: 2em;
	max-width:  2em;
}
.footer-texto {
	font-size: 120%;
    
}
.atendimento-footer{						
    margin: 0;
}

.moveis-footer, 
.loja-footer,
.algumas-categorias-footer,
.rede-social-footer{
	margin:   -8em 0;
	font-size: 120%;
}
.direitos-resevados{
	background: #007ab3;

	
}
.direitos-resevados-item{
	width: 108em;
	margin: 0 auto;
	padding: 2em;
}
.direitos-resevados-item > div{   
	
	
}
.direitos-resevados-item h2{
	color:#fff;
    width: 50%;	
	float:left;
	margin-right:8em;
}
.direitos-resevados-item p{
    color:#fff;
	
}
.commerce{
	width: 108em;
	margin: 0 auto;
	display: block;
}
.commerce{
}
.commerce img{
	float:left;
}
.commerce p{
	color:#6c6c6c;
	margin-left: 2em;
    float: left;	
}






